@media all and (min-device-width:320px) {
  body{
    font-size: 19px!important;
  }
  h1 {
    font-size: 24px!important;
  }
  embed, iframe, object {
    max-height: 10em!important;
  }
}
@media all and (min-device-width:768px) {
  body {
    font-size: 19px!important;
  }
  h1 {
    font-size: 26px!important;
  }
  embed, iframe, object{
    max-height: 20em!important;
  }
}
@media all and (min-device-width:1024px) {
  body {
    font-size: 21px!important;
  }
  h1 {
    font-size: 28px!important;
  }
}
body {
  padding-top:0.8em!important;
  line-height:1.4em!important;
  font-family:'-apple-system','Helvetica Neue',helvetica,sans!important;
  text-rendering:optimizeLegibility!important;
  color:#4A525A!important;
}
a {
  text-decoration: none!important;
  color: #157DEC!important;
  border-bottom: thin solid!important;
  border-bottom-color: #157DEC!important;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}
