@media all and (min-device-width:320px) {
  body {font-size: 19px;}
  h1 {font-size: 24px;}
}
@media all and (min-device-width:768px) {
  body {font-size: 19px;}
  h1 {font-size: 26px;}
}
@media all and (min-device-width:1024px) {
  body {font-size: 17px;}
  h1 {font-size: 19px;}
}
body {
  padding: 0;
  margin: 0;
  padding-top:0.8em;
  line-height:1.6em;
  font-family:-apple-system,system-ui,BlinkMacSystemFont,'Helvetica Neue',helvetica,sans;
  text-rendering:optimizeLegibility;
  color:#4A525A;
}
a {
  text-decoration: none;
  color: #157DEC;
  border-bottom: thin solid;
  border-bottom-color: #157DEC;
}
p {
  margin-top: 0;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}
